#friendsConfiguration{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}
#friendsConfigurationBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em 3em 3em;
    background-color: #3b4594;
    border-radius: 2em;
}

h2{
    font-size: 4em;

}

#friendsTable{
    text-align: center;
    border: 1px solid #000;

}

th,td{
    border: 1px solid #000;
    padding: 1em;
}

tr{
    font-size: 2em;
}

#friendNamePhoto{
    display: flex;
}

#friendPhoto{
    margin-right: 2em;
}

