#logo {
    position: absolute;
}

#city {
    border-radius: 30px;
    margin-top: 20px;
}

#screen {
    text-align: center;
}

#symbolsPanel {
    display: inline-block;

    background-color: #b2d3f1;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.techButtons {
    margin: 15px;
}

#documentButton {
    display: inline-block;
    color: white;
    background-color: #0063fd;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    text-decoration: none;
    margin: 1em;
    font-size: 25px;
    padding: 0.2em 0.5em 0.2em 1em;
}

#documentButton:hover {
    background-color: #00a6fb;
}

#documentButton:active {
    background-color: #007ffd;
}

#documentation>p{
    margin-top: 1em;
    color: black;
    padding: 0px;
    cursor: auto;
    font-family: "Corbel Light", serif;
    font-weight: bold;
    font-size: 20px;
}

p:hover{
    color: black;
}