#loginBody{
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 35em;
    margin: auto;
    padding: 1em 2em 1em 2em;
    background-color: #3b4594;
    border-radius: 2em;
}

#loginForm h1{
    font-size: 3.5em;
    padding-bottom: 0.3em;
}
#loginForm p{
    color: white;
    font-size: 1.5em;
}

#loginForm h2{
    font-size: 3em;
    margin-bottom: 1em;
}

#loginForm select{
    width: 16em;
    height: 2em;
    font-size: 1.5em;
    margin-bottom: 2em;
}

#loginForm a{
    margin-bottom: 2em;
}
#loginButton{
    margin-left: auto;
}
