h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #92b5f5;
    padding: 10px;
    margin: 0;
}

h2 {
    font-family: "Corbel Light", serif;
    font-size: 25px;
    margin: 10px;
}

select, option {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

#searchPanel {
    display: flex;
    justify-content: center;
}

#searchText, #namePlace, #comment, #latitude, #longitude {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 65%;
}

#screen {
    height: 90vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#searchButton {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 15%;
}

#optionsButton {
    padding: 5px;
    position: absolute;
    z-index: 2;

    color: white;
    font-size: 25px;
    background-color: #232269;
    border-radius: 20px;
    border-style: none;
    margin-top: 20px;

    left: 20px;
    cursor: pointer;
}

#optionsButton:hover {
    background-color: #323376;
}

#optionsButton:active {
    background-color: #1c2a70;
}

#optionsMenu {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(35, 34, 105, 0.8);
    text-align: center;

    height: 90vh;
    width: 0;
    position: absolute;
    z-index: 1;

    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#optionsMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.cross {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    #optionsMenu {padding-top: 15px;}
}

#developers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#developers p {
    color: white;
    text-align: center;
    margin: 0;
}

#developers p a:hover {
    color: white;
}

.member {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

#markersMenu {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(35, 34, 105, 0.8);
    text-align: center;

    height: 90vh;
    width: 0;
    right: 0;
    position: absolute;
    z-index: 1;

    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#markersMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

#namePlace, #comment, #longitude, #latitude {
    border-radius: 5px;
    width: 80%;
}

#addPanel button {
    font-weight: bold;
    color: white;
    background-color: #0063fd;
    padding: 10px;
    border-width: 3px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
}

#addPanel button:hover,#friends button:hover {
    background-color: #00a6fb;
}

#addPanel button:active {
    background-color: #007ffd;
}

#friends button {
    font-weight: bold;
    color: white;
    background-color: #0063fd;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    margin-bottom: 0.3em;
}