#screen {
    position: relative;
    z-index: 0;
}

#optionsButton, #optionsMenu {
    padding: 10px;
    position: fixed;

    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #0064ff;
    border-color: black;
    border-style: solid;
}

#optionsButton {
    margin-left: 20px;
    margin-top: 20px;
    z-index: 2;
    cursor: pointer;
}

#optionsButton:hover {
    background-color: #00a7fd;
}

#optionsButton:active{
    background-color: #1c2a70;
}

#optionsMenu {
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
}

#developers p{
    color: white;
    text-align: center;
    margin: -10px;
}

.member {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}