h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    color: #92b5f5;
    padding: 0.625em;
    margin: 0;
}

h2 {
    font-family: "Corbel Light", serif;
    font-size: 1.563em;
    margin: 0.625em;
}

select, option {
    font-size: 1.25em;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 0.313em;
    border-radius: 0.313em;
    width: 90%;
}

#rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 1.5em;
}

#searchPanel {
    display: flex;
    justify-content: center;
}

#searchText {
    width: 70%;
    border-bottom-left-radius: 0.313em;
    border-top-left-radius: 0.313em;
}

#searchButton {
    font-size: 1.25em;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 0.313em;
    border-bottom-right-radius: 0.313em;
    border-top-right-radius: 0.313em;
    width: 20%;
}

#searchText, #namePlace, #comment, #latitude, #longitude {
    font-size: 1.25em;
    font-weight: lighter;
    color: white;
    background-color: rgba(15, 94, 197, 0.8);
    padding: 0.313em;

}

#namePlace, #comment, #latitude, #longitude {
    width: 90%;
    border-radius: 0.313em;
}

#mapPage {
    display: flex;
    flex-direction: row;
}

#mapView {
    height: 85vh;
    width: 80vw;
    border-radius: 0.625em;
    overflow: hidden;
    z-index: 0;
}

#optionsMenu {
    color: white;
    background-color: rgb(35, 34, 105);
    text-align: center;
    height: 85vh;
    width: 20vw;
    overflow-x: hidden;
}

#markersMenu .cross {
    padding: 0.5em 0.5em 0.5em 2em;
    background: none;
    border: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 1.563em;
    font-size: 2.25em;
    margin-left: 3.125em;
}

#markersMenu {
    color: white;
    font-size: 0.938em;
    font-weight: bold;
    background-color: rgba(35, 34, 105, 0.8);
    text-align: center;
    height: 85vh;
    width: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 3.75em;
    transition: 0.5s;
}

#addPanel button {
    font-weight: bold;
    color: white;
    background-color: #0063fd;
    padding: 0.625em;
    border-width: 0.188em;
    cursor: pointer;
    margin: 0.7em;
}

#friends button {
    font-weight: bold;
    color: white;
    background-color: #0063fd;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.3em;
}