nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #1c2a70;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

nav a, nav input {
    font-size: 30px;
    text-decoration: none;
    color: rgba(148, 148, 148, 0.61);
    margin-right: 70px;
}

nav a:hover, #loginPanel p:hover {
    color: #ffffff;
}

nav a:active, #loginPanel p:active {
    color: #007ffd;
}

.active {
    color: white;
    font-weight: bold;
    text-decoration-line: underline;
}

#loginPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-bottom: -35px;
}

#login-manage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loginButton {
    color: white;
    background-color: #0063fd;
    padding: 7px;
    margin-right: 15px;
    margin-bottom: 0px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

#loginPanel p {
    color: #669de3;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #00a6fb;
}

#loginButton:active{
    background-color: #007ffd;
}