nav {
    width: 100vw;
    height: 15vh;
    background-color: #23226a;
    transition: 0.3s ease-in-out;
}

nav.nav-expanded {
    height: 40em;
}

.nav-link {
    font-size: 2.2222222222em !important;
    text-decoration: none;
    color: rgba(148, 148, 148, 0.61);
    margin-right: 2.2222222222vw;
    transition:all 0.4s ease-in-out;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover {
    border-bottom: 3px solid #00a7fd;
}

.nav-link.active {
    border-bottom: 3px solid #00d9fd;
}

.dropdown-toggle {
    font-size: 1.8em !important;
    text-decoration: none;
    color: white !important;
    background-color: #232269 !important;
    border-style: none;
    margin-right: 2em;
}

.dropdown-menu {
    background-color: #23226a;
    border-style: solid;
    border-color: white;
    border-width: 0.0625em;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.15em !important;
    text-decoration: none;
    color: rgba(148, 148, 148, 0.61);
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #23226a;
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #23226a;
    color: white;
}

nav a:hover, #login-manage a:hover {
    color: #ffffff !important;
}

nav a:active, #login-manage a:active {
    color: #007ffd;
}

#login-manage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-manage a {
    font-size: 0.9375em;
    color: #c5dff1;
    padding: 0.625em;
    margin-top: -0.3125em;
    margin-right: 0;
    text-align: center;
}

#login, #logout {
    font-size: 1.15em;
    font-weight: bold;
    color: white;
    padding: 0.3em;
    border-color: white;
    border-width: 0.1875em;
    cursor: pointer;
    margin-top: 0.625em;
}

#login {
    background-color: #0063fd;
}

#logout {
    background-color: #a10000;
}

#login:hover, #logout:hover {
    background-color: #00a6fb;
}

#login:active, #logout:active {
    background-color: #007ffd;
}

#profileName {
    text-align: center;
    font-size: 1.25em;
}